@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    @apply font-sans;
  }

 @keyframes shimmerFast {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(250%);
  }
}

.animate-shimmer-fast {
  animation: shimmerFast 2.3s infinite linear;
}

@keyframes pulseGlow {
  0%, 100% {
    opacity: 0.4;
  }
  50% {
    opacity: 0.8;
  }
}

.animate-pulse-glow {
  animation: pulseGlow 2s infinite ease-in-out;
}

